[submodule "themes/dark-theme-editor"]
	path = themes/dark-theme-editor
	url = git@github.com:bloodstiller/dark-theme-editor.git
[submodule "themes/hugo-liftoff"]
	path = themes/hugo-liftoff
	url = https://github.com/bloodstiller/hugo-liftoff
[submodule "themes/hugo-dead-simple"]
	path = themes/hugo-dead-simple
	url = git@github.com:bloodstiller/hugo-dead-simple.git
