@keyframes code-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.highlight div,
pre {
  background-color: #45465a;
  padding: 0.7em;
  overflow-x: auto;
  margin: 0px;
  border: 1px solid transparent;
  border-radius: 3px;
  line-height: 1.3;
  color: #f8f8f2;
}

.highlight {
  margin: 0.8em 0;
}

.highlight div pre {
  border: 0px;
  padding: 0px 5px;
  margin: 0px;
  box-shadow: none;
}

code {
  font-family: 'Source Code Pro', monospace;
  color: #85e685;
  font-stretch: normal;
  background: #45465a;
  border-radius: 10px;
  overflow: auto;
  border: none;
  font-size: 0.920em;
  padding: 0.2em 0.4em;
}

pre code {
  font-size: 0.900em;
  font-stretch: normal;
  border: none;
  background: none;
  padding: 0;
  margin: 0px;
  tab-size: 4;
  color: #f8f8f2;
}

@media screen and (max-width: 760px) {
  pre code {
    font-size: 80%;
  }
}

.fs95 {
  font-size: 90%;
}

.fs90 {
  font-size: 90%;
}

.fs85 {
  font-size: 85%;
}

.fs80 {
  font-size: 80%;
}

.fs75 {
  font-size: 75%;
}

.fs70 {
  font-size: 75%;
}

.fs50 {
  font-size: 50%;
}

/* Line numbers in code blocks. */
.ln {
  user-select: none;
  margin-right: 14px;
  color: rgb(150, 150, 150);
}

.hl {
  background-color: #5a5a5a;
  outline-style: solid;
  outline-color: #5a5a5a;
  outline-width: 0.5px;
}

/* Copy code button */
.copy-code-button {
  color: rgba(238, 255, 255, 0.4);
  background-color: transparent;
  border: rgba(238, 255, 255, 0.4) solid 1pt;
  border-radius: 10%;
  cursor: pointer;
  padding: 0.7em;
  font-size: 14px;
}

.copy-code-button:hover {
  color: #eeffff;
  border-color: #eeffff;
}

@media screen and (min-width: 760px) {
  .copy-code-button {
    animation-duration: 1s;
    animation-name: code-fade-in;
    margin-top: -22px;
    float: right;
    display: block;
    background-color: var(--code-background);
    border-color: var(--code-border);
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-radius: 2px 2px 0 0;
    color: var(--text-dim);
  }
}
