.menu {
  padding: 0px 4px 0px 0px;
  z-index: 9999;
  text-align: left;
  margin-bottom: 10px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
  margin-right: 1.1em;
}

.menu a {
  text-decoration: none;
  color: var(--link);
  border-radius: 5px;
}

.menu a:visited {
  color: var(--link);
}

.menu a:hover {
  text-decoration: underline;
  color: #7fb8ee;
}

